<!-- {% load static %} -->
{{ form.as_p }}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-brand">
                <h1>LOGO</h1>
            </div>

            <div class="nav-content">
                <input type="text" name="search">
                <span class="material-icons">
                    notifications
                </span>
            </div>
        </nav>
    </header>

    <main>
        <aside>
            <ul>
                <li>Dashboard</li>
                <li>Create and event</li>
                <li>Report</li>
                <li>Blog</li>
                <li>Contact Us</li>
                <li>Account Settings</li>
                <li class="logout">Logout</li>
            </ul>
        </aside>

        <section class="main-sec">
            <h1>File for a Missing Person</h1>
            <form method="POST">
                <div class="row">
                    <div class="form-item">
                        <label for="firstName">Missing Person’s First Name</label>
                        <input type="text" id="firstName" name="first_name" placeholder="Enter their first name">
                    </div>

                    <div class="form-item">
                        <label for="lastName">Missing Person’s Last Name</label>
                        <input type="text" id="lastName" name="last_name" placeholder="Enter their last name">
                    </div>
                </div>

                <div class="row">
                    <div class="form-item">
                        <label for="otherName">Other Names</label>
                        <input type="text" id="otherName" name="other_names" placeholder="Enter their other name">
                    </div>

                    <div class="form-item">
                        <label for="alsoName">Also Known as</label>
                        <input type="text" id="alsoName" name="a_k_a" placeholder="Enter their nick name">
                    </div>
                </div>

                <div class="row">
                    <div class="form-item">
                        <label for="sex">Sex</label>
                        <input type="text" id="sex" name="sex" placeholder="Enter their other name">
                    </div>

                    <div class="form-item">
                        <label for="age">Age</label>
                        <input type="text" id="age" name="age" placeholder="Enter their age range">
                    </div>
                </div>

                <div class="row">
                    <div class="form-item">
                        <label for="height">Height</label>
                        <input type="text" id="height" name="height" placeholder="Select approximate height">
                    </div>

                    <div class="form-item">
                        <label for="date_missing">Date Declared Missing</label>
                        <input type="text" id="date_missing" name="date_declared_missing" placeholder="dd / mm / yyyy">
                    </div>
                </div>

                <div class="form-area">
                    <label for="upload">Images</label>
                    <div class="icons">
                        <div class="iconz">
                            <button name="image_upload" class="icon">
                                <div class="material-icons">
                                    cloud_upload
                                </div>
                                <p>Upload File</p>
                            </button>
                            <button class="icon">
                                <p>Remove</p>
                            </button>
                        </div>
                        <p>(Max 4 photos)</p>
                    </div>
                </div>

                <h1>Last Known Location</h1>

                <div class="row">
                    <div class="form-item">
                        <label for="address">Address</label>
                        <input type="text" id="address" placeholder="Enter house number and name of street">
                    </div>

                    <div class="form-item">
                        <label for="area">Area</label>
                        <input type="text" id="area" placeholder="Enter a Landmark and name of street">
                    </div>
                </div>

                <div class="row">
                    <div class="form-item">
                        <label for="city">City</label>
                        <input type="text" id="city" placeholder="Enter name of city">
                    </div>

                    <div class="form-item">
                        <label for="state">State</label>
                        <input type="text" id="state" placeholder="Choose state">
                    </div>
                </div>

            <h1>Contact Person</h1>
            <p class="subheading">This should be the contact of the person that should be reached in case of questions or when the missing has been found</p>

                <div class="row">
                    <div class="form-item">
                        <label for="contactName">Contact Name</label>
                        <input type="text" id="contactName" placeholder="Enter full Name of contact person">
                    </div>

                    <div class="form-item">
                        <label for="address">Phone Number</label>
                        <input type="text" id="address" placeholder="Enter phone number">
                    </div>
                </div>

                <div class="row">
                    <div class="form-item">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="Enter email address">
                    </div>

                    <div class="form-item">
                        <label for="address">Address</label>
                        <input type="text" id="address" placeholder="Enter your address and name of street">
                    </div>
                </div>
                <button type="reset" class="btn">Cancel</button>
                <button type="submit" class="btn-continue">Continue</button>
            </form>
        </section>
    </main>
</body>
</html>